.filme-info {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.filme-info h1 {
    margin: 14px 0;
}
.filme-info p {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.filme-info img {
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}

.filme-info h3 {
    margin-top: 14px;
}

.filme-info span {
    margin: 8px 0;
}

.area-btn button {
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    height: 30px;
    padding: 3px;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    width: 140px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #000;
}

.area-btn a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    transition: all 0.5s;
}

.area-btn a:hover {
    background-color: #2d4501;
    color: #fff;
}
.area-btn button:hover {
    background-color: #2d4501;
    color: #fff;
}